<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #uploadForm="ngForm" (ngSubmit)="onUpload()">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <!--<ion-input type="text" [ngModel]="description" name="description" required></ion-input>-->
            <ion-textarea [ngModel]="description" name="description" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">URL</ion-label>
            <ion-input type="text" [ngModel]="url" name="url" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button type="submit" expand="block" shape="round" [disabled]="uploadForm.invalid">
            {{buttonName}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
